# public/.htaccess
Options -Indexes
RewriteEngine On

# Send all non-file and non-folder requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
